body {
  margin: 0;
  padding: 0;
}

.calculadora {
    width: 232px;
    margin: 3rem auto;
    background-color: rgb(150, 149, 149);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: black;
}

input[type="button"] {
    width: 50px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #d1cfcf;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: #a8a6a6;
  }

  #pantalla {
    height: 30px;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    border-radius: 1rem;
  }

  input[class="operador"] {
    background-color: black;
    color: white;
  }

  input[class="operador"]:hover {
    background-color: rgb(87, 87, 87);
  }

  input[class="resultado"] {
    background-color: rgb(255, 0, 0);
    color: white;
  }

  input[class="resultado"]:hover {
    background-color: rgb(190, 0, 0);
  }

  body {
   
    background-color: #111;

    
}

nav {
    background-color: #333; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Lucida Console", "Courier New", monospace;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
} 

.footer {
  font-family: "Lucida Console", "Courier New", monospace;  
  background-color: #333; 
    color: #FFF; 
    padding: 10px 0; 
    text-align: center; 
    font-size: 12px;
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    
}

.footer-content {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 0 10px; 
}

.footer p {
margin: 5px 0; 
font-size: 12px; 
}

.social-icons {
margin-top: 8px;
text-align: center;
}

.social-icons svg {
margin: 0 8px; 
cursor: pointer;
transition: transform 0.3s ease;
width: 20px; 
height: 20px;
}

.social-icons svg:hover {
transform: scale(1.1); 
}

.botonregresar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonregresar button {
   
  padding: 10px 20px;
  background-color: #FFFF00; 
  color: rgb(0, 0, 0);  
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;


}

.botonregresar button:hover {
  background-color:#6d6d05; 
}
  
